*{
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;
    background: $white;    

    font-family: "Lato", "Oswald", "Arial", sans-serif;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: block;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }