// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Цвета
$white: #FFFFFF;
$black: #000000;
$green: #68B738;
$green-second:#5EAA2F;
$grey-background: #F2F2F2;
$grey-line: #E6E6E6;
$grey-line-second: #D9D9D9;
$grey-line-third: #CDCDCD;
$grey-dark: #666666;
$grey-very-dark: #444444;
$red-error: #FF8282;