// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors
$white: #FFFFFF;
$black: #000000;
$green: #68B738;
$green-second: #5EAA2F;
$grey: #F2F2F2;
$grey-special: #CDCDCD;
$grey-light: #E6E6E6;