.form-section {

    @media (min-width: $mobile-width) {
        padding: 26px 20px 32px 20px;
    }

    @media (min-width: $tablet-width) {
        padding: 0px 66px 72px 70px;
        margin-top: 60px;
    }

    @media (min-width: $desktop-width) {
        padding: 0 110px 82px 110px;
        margin-top: 186px;
    }

    &__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        color: $black;

        @media (min-width: $mobile-width) {
            font-size: 36px;
            line-height: 36px;
        }

        @media (min-width: $tablet-width) {
            font-size: 60px;
            line-height: 60px;
        }

    }

    &__description {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        color: $black;

        @media (min-width: $mobile-width) {
            font-size: 14px;
            line-height: 18px;
            margin-top: 36px;
        }

        @media (min-width: $tablet-width) {
            font-size: 20px;
            line-height: 30px;
            margin-top: 54px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 56px;
        }

    }

}