// Hero
.hero {
    position: relative;
    
    @media (min-width: $mobile-width) {
        padding: 27px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: $tablet-width) {
        margin-top: 60px;
        padding: 0 232px 0 120px;
        align-items: start;
    }

    @media (min-width: $desktop-width) {
        max-width: 1440px;
        margin: 0 auto;
        padding: 224px 810px 185px 190px;
    }
    
    &__background {

        @media (max-width: 767px) {
            background-color: rgba(104, 183, 56, 0.85);
            position: absolute;
            top: 0;
            width: 100%;
            height: 302px;
        }

        @media (min-width: $desktop-width) {
            background-color: rgba(104, 183, 56, 0.85);
            position: absolute;
            width: 720px;
            height: 694px;
            top: 0;
            right: 0;
        }

    }

    &__background-image {
        
        @media (max-width: $tablet-width) {
            object-fit: cover;
            height: 302px;
            width: 100%;
            position: absolute;
            z-index: -1;
        }

        @media (min-width: $tablet-width) {
            display: none;
        }

        @media (min-width: $desktop-width) {
            display: block;
            width: 720px;
            height: 694px;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

    }

    &__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;

        @media (max-width: $tablet-width) {
            z-index: 1;
            text-align: center;
            font-size: 36px;
            line-height: 36px;
            color: $white;
        }

        @media (min-width: $tablet-width) {
            font-size: 60px;
            line-height: 60px;
            color: $black; text-align: left;
        }

    }

    &__description {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;

        @media (max-width: $tablet-width) {
            z-index: 1;
            font-size: 14px;
            line-height: 14px;
            margin-top: 24px;
            color: $white;
        }

        @media (min-width: $tablet-width) {
            font-size: 20px;
            line-height: 20px;
            color: $black;
            margin-top: 42px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 40px;
        }

    }

    &__product-image {

        @media (min-width: $mobile-width) {
            width: 280px;
            height: 270px;
            margin-top: 30px;
            z-index: 1;
            position: relative;
        }

        @media (min-width: $tablet-width) {
            width: 710px;
            height: 610px;
            position: absolute;
            top: 200px;
            right: 30px;
            margin: 0;
            z-index: -1;
        }

        @media (min-width: $desktop-width) {
            width: 552px;
            height: 500px;
            position: absolute;
            top: 140px;
            left: 558px;
            margin: 0;
            z-index: 1;
        }

    }

    &__link {
        text-decoration: none;
        color: $white;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        background: $green;
        text-align: center;

        &:hover {
            background: $green-second;
        }

        &:active {
            background: $green-second;
            opacity: 0.7;
        }

        @media (min-width: $mobile-width) {
            margin-top: 4px;
            padding: 11px 0;
            width: 100%;
            font-size: 14px;
            line-height: 18px;
        }

        @media (min-width: $tablet-width) {
            width: 244px;
            font-size: 20px;
            line-height: 20px;
            padding: 17px 0;
            margin-top: 50px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 52px;
        }

    }

}