// Хиро секция
.hero-section {

    @media (min-width: $tablet-width) {
        margin-top: 60px;
    }

    @media (min-width: $desktop-width) {
        max-width: 1440px;
        margin: 0 auto;
    }

}

// Баннеры каталога
.catalog-banners-section {
    display: flex;

    @media (min-width: $mobile-width) {
        margin: 20px 20px 0 20px;
        flex-direction: column;
        gap: 20px;
    }

    @media (min-width: $tablet-width) {
        gap: 30px;
        margin: 524px 30px 0 30px;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;
        gap: 80px;
        margin: 0 auto;
        margin-top: 82px;
        max-width: 1220px;
    }

}

// Инфо баннеры
.info-banner-section {
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile-width) {
        margin: 20px 20px 0 20px;
    }

    @media (min-width: $tablet-width) {
        margin: 45px 0 0 0;
        padding: 0 30px 48px 30px;
        border-bottom: 1px solid $grey-line;
    }

    @media (min-width: $desktop-width) {
        margin: 0 auto;
        margin-top: 70px;
        max-width: 1220px;
        border: transparent;
        padding: 0;
    }

    &__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        color: $black;

        @media (min-width: $mobile-width) {
            font-size: 36px;
            line-height: 40px;
            margin: 0 0 40px 0;
        }

        @media (min-width: $tablet-width) {
            font-size: 60px;
            line-height: 60px;
            margin: 0 0 32px 0;
        }

    }

    &__content {
        display: flex;

        @media (min-width: $mobile-width) {
            flex-direction: column;
            gap: 20px;
        }

        @media (min-width: $tablet-width) {
            gap: 38px;
            align-items: center;
        }

        @media (min-width: $desktop-width) {
            flex-direction: row;
            gap: 100px;
        }

    }

    &__content-line {
        display: flex;

        @media (min-width: $mobile-width) {
            flex-direction: column;
            gap: 20px;
        }

        @media (min-width: $tablet-width) {
            flex-direction: row;
            gap: 154px;
        }

        @media (min-width: $desktop-width) {
            gap: 100px;
        }

    }

}

// Секция с примером
.example-section {
    position: relative;

    @media (min-width: $mobile-width) {
        background: $grey-background;
        padding: 26px 20px 40px 20px;
        margin-top: 50px;
    }

    @media (min-width: $tablet-width) {
        background: $white;
        padding: 44px 30px 100px 30px;
        margin-top: 44px;
    }

    @media (min-width: $desktop-width) {
        margin: 0 auto;
        margin-top: 70px;
        max-width: 1440px;
        padding: 0 110px 86px 110px;
    }

    &__background {
        position: absolute;

        @media (min-width: $mobile-width) {
            display: none;
        }

        @media (min-width: $tablet-width) {
            width: 100%;
            height: 462px;
            background: $grey-background;
            display: block;
            bottom: 0;
            left: 0;
            max-width: 1439px;
            z-index: 0;
        }

        @media (min-width: $desktop-width) {
            max-width: 1440px;
        }

    }

    &__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        color: $black;
        margin: 0;

        @media (min-width: $mobile-width) {
            font-size: 36px;
            line-height: 40px;
        }

        @media (min-width: $tablet-width) {
            font-size: 60px;
            line-height: 60px;
        }

    }

    &__text {
        color: $grey-very-dark;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        position: relative;
        z-index: 5;

        @media (min-width: $mobile-width) {
            font-size: 14px;
            line-height: 18px;
            margin-top: 40px;
        }

        @media (min-width: $tablet-width) {
            font-size: 16px;
            line-height: 24px;
            margin-top: 64px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 146px;
            max-width: 436px;
        }

    }

    &__info-wrapper {
        display: flex;

        @media (min-width: $mobile-width) {
            gap: 32px;
            margin-top: 20px;
        }

        @media (min-width: $tablet-width) {
            gap: 42px;
            margin-top: 54px;
        }

        @media (min-width: $desktop-width) {
            margin-top: 68px;
        }

    }

    &__container {
        display: flex;

        @media (min-width: $mobile-width) {
            flex-direction: column;
            align-items: center;
            gap: 34px;
        }

        @media (min-width: $tablet-width) {
            flex-direction: row;
            justify-content: space-between;
        }

        @media (min-width: $desktop-width) {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: start;
        }
    }

    &__price {
        display: flex;
        position: relative;
        z-index: 5;

        @media (min-width: $mobile-width) {
            flex-direction: row;
            gap: 2px;  
        }

        @media (min-width: $tablet-width) {
            flex-direction: column;
            gap: 8px;
            margin-top: 46px;
            justify-content: center;
        }

        @media (min-width: $desktop-width) {
            margin-top: 60px;
            flex-direction: row;
            gap: 64px;
        }

    }

    &__price-text {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        color: $black;
        line-height: 20px;

        @media (min-width: $mobile-width) {
            font-size: 14px;
        }

        @media (min-width: $tablet-width) {
            font-size: 20px;
            text-align: right;
        }

    }

}

// Карта
.location-section {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

    @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
    }

}