@import "./green-button.scss";

.product-card {
    position: relative;

    @media (min-width: $mobile-width) {
        width: 320px;
        height: 210px;
        border-bottom: 1px solid $grey-line-fourth;
        padding: 20px 20px 24px 20px;
    }

    @media (min-width: $tablet-width) {
        width: 324px;
        height: 512px;
        padding: 242px 36px 40px 36px;
    }

    @media (min-width: $desktop-width) {
        width: 244px;
        padding: 242px 38px 40px 38px;
    }

    &__info-container {

        @media (min-width: $mobile-width) {
            margin-left: 160px;
            margin-top: 14px;
        }

        @media (min-width: $tablet-width) {
            margin-top: 14px;
            margin-left: 0;
        }

    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (min-width: $tablet-width) {
            padding-bottom: 9px;
            padding-top: 6px;
            border-bottom: 1px solid $grey-line-third;
        }

    }

    &__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;

        @media (min-width: $mobile-width) {
            font-size: 16px;
            line-height: 20px;
            margin-left: 160px;
        }

        @media (min-width: $tablet-width) {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-left: 0;
        }

    }

    &__text {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;

        @media (min-width: $mobile-width) {
            font-size: 12px;
            line-height: 16px;
        }

        @media (min-width: $tablet-width) {
            font-size: 16px;
            line-height: 16px;
        }

    }

    &__image {
        position: absolute;

        @media (min-width: $mobile-width) {
            width: 68px;
            height: 86px;
            top: 34px;
            left: 56px;
        }

        @media (min-width: $tablet-width) {
            height: 172px;
            width: 160px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 302px;
        }

        @media (min-width: $desktop-width) {
            bottom: 311px;
        }
        
        &--big {

            @media (min-width: $mobile-width) {
                width: 84px;
                height: 100px;
                top: 30px;
                left: 48px;
            }

            @media (min-width: $tablet-width) {
                width: 168px;
                height: 206px;
                bottom: 296px;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (min-width: $desktop-width) {
                width: 172px;
                height: 196px;
                bottom: 314px;
                top: 2px;
            }

        }

    }

    &__background {
        background: $grey-background;

        @media (min-width: $mobile-width) {
            display: none;
        }

        @media (min-width: $tablet-width) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 324px;
            height: 430px;
            z-index: -1;
        }

        @media (min-width: $desktop-width) {
            width: 236px;
            height: 430px;
        }

    }

}

// Кнопк
.green-button--card {

    @media (min-width: $mobile-width) {
        margin-top: 22px;
    }

    @media (min-width: $tablet-width) {
        margin-top: 32px;
    }

}