.text-input {
    border: 1px solid $grey-line-third;
    text-transform: uppercase;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    color: $grey-very-dark;
    flex-grow: 1;

    @media (min-width: $mobile-width) {
        padding: 0 10px;
        font-size: 16px;
        line-height: 18px;
        height: 45px;
    }

    @media (min-width: $tablet-width) {
        padding: 0 20px;
        font-size: 20px;
        line-height: 30px;
        height: 52px;
    }

    &--with-icon {

        @media (min-width: $mobile-width) {
            padding: 0 50px 0 10px;
        }

        @media (min-width: $tablet-width) {
            padding: 0 56px 0 20px;
        }

    }

    &__icon {
        position: absolute;

        @media (min-width: $mobile-width) {
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }

        @media (min-width: $tablet-width) {
            right: 18px;
        }

    }
    
}